
<!-- Wrap all the page -->
<!-- <div class="wrapper"> -->
	<!-- 960px -->
	<!-- <div class="container_1"> -->
	<!-- navagation bar starts-->
<!-- 			<ul>
			<li class="li1">
				<% if user_signed_in? %>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>				<% else %>
				<%= link_to "Sign in", user_session_path %>
				<% end %>
			</li>
			<li class="logo"></li>
			<li class="li1">
				<% if user_signed_in? %>
				<a href="fan.html">Fans</a>
				<% else %>
				<a href="users/sign_in">Fans</a>
				<% end %>
			</li>
			<li class="li1">
				<% if user_signed_in? %>
				<a href="following_player">Following Player</a>
				<% else %>
				<a href="users/sign_in">Following Player</a>
				<% end %>
			</li>

			<li class="li1">
				<% if user_signed_in? %>
				<a href="Following_Event">Following Event</a>
				<% else %>
				<a href="users/sign_in">Following Event</a>
				<% end %>
			</li>
			<li class="li1">
				<% if user_signed_in? %>
				<a href="events/new">Create Event</a>
				<% else %>
				<a href="users/sign_in">Create Event</a>
				<% end %>
			</li>
			<li class="li2">
				<% if user_signed_in? %>
				<a href="Profile">Profile</a>
				<% else %>
				<a href="users/sign_in">Profile</a>
				<% end %>
			</li>
			</ul> -->
	<!-- navagation bar ends-->

	<!-- 橫幅圖片 -->
	<!-- 活動左方分類欄 -->
<!-- 	<div class="left_box hight2">
		<h1>Top 10 Event</h1>
	</div>
	<div class="right_box hight2">
		<h1>Top 10 Player</h1>
	</div>
	<div class="container_3">
		<div class="title-border-bottom">
			<h1>The Lastest Event</h1> -->
				<!-- 活動簡介內框  -->
	<!-- 			<div class="adjust-left"></div>

			
		</div>	 -->

<table class="table table-striped">
  <thead>
    <tr>
      <th>Follow</th>
      <th>Date</th>
      <th>Title</th>
      <th>Player1</th>
      <th>Player2</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <a href="<%=event_path(event)%>" ><tr>
        <td><%= button_to "follow", :action => "follow", :event_id => event.id %></td>
        <td><%= event.date %></td>
        <td><%= event.title %></td>
        <td><%= event.user1 %></td>
        <td><%= event.user2 %></td>
      </tr></a>
    <% end %>
  </tbody>
</table>	


	<!-- </div> -->
	
<!-- 	</div>
 -->	<!-- container_1 ends here -->

<!-- <div class="footer">
			<p>Copyright © 2013 Just 賭 It 集團 All Rights Reserved
			</p>
</div> -->

<!-- </div> -->

<!-- Wrap all the page -->
