<%= simple_form_for @event, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">

    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => "text_field" %>
    </div>
  </br>
  <!-- </div> -->
  <!-- <div class="control-group"> -->
    <%= f.label :date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :pos, :class => 'text_field', :id => "date", :label => false %>
    </div>
    </br>
  <!-- </div> -->
  <!-- <div class="control-group"> -->
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
    </br>
  <!-- </div> -->
  <!-- <div class="control-group"> -->
    <%= f.label :user1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user1, :class => 'text_field', :value => current_user.name, :disabled => true %>
    </div>
    </br>
  <!-- </div> -->
  <!-- <div class="control-group"> -->
    <%= f.label :user2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user2, :class => 'text_field' %>
    <!-- </div> -->
  </div>
  </br>
  <!-- <div class="control-group"> -->
    <%= f.label :item, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :item, :class => 'text_field' %>
    </div>
  </br>
  <div style = "text-align:center">
    <%= f.submit :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                root_path, :class => 'btn' %>
  </div>
</div>
<% end %>


<script type="text/javascript">
  $(document).ready(function(){
    $('#date').datepicker();
  })
</script>