<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Gamble" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>

<!-- Wrap all the page -->
<div class="wrapper" >
    <!-- 960px -->
    <div class="container_1">
    <!-- navagation bar starts-->
            <ul>
            <li class="li1">
                <% if user_signed_in? %>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>                <% else %>
                <%= link_to "Sign in", user_session_path %>
                <% end %>
            </li>
            <a href="<%=root_path%>" ><li class="logo"></li></a>
            <li class="li1">
                <% if user_signed_in? %>
                <a href="fans">Fans</a>
                <% else %>
                <a href="../users/sign_in">Fans</a>
                <% end %>
            </li>
            <li class="li1">
                <% if user_signed_in? %>
                <a href="../following_player">Following Player</a>
                <% else %>
                <a href="../users/sign_in">Following Player</a>
                <% end %>
            </li>

            <li class="li1">
                <% if user_signed_in? %>
                <a href="../following_event">Following Event</a>
                <% else %>
                <a href="../users/sign_in">Following Event</a>
                <% end %>
            </li>
            <li class="li1">
                <% if user_signed_in? %>
                <a href="../events/new">Create Event</a>
                <% else %>
                <a href="../users/sign_in">Create Event</a>
                <% end %>
            </li>
            <li class="li2">
                <% if user_signed_in? %>
                <a href="../profile">Profile</a>
                <% else %>
                <a href="../users/sign_in">Profile</a>
                <% end %>
            </li>
            </ul>
    <!-- navagation bar ends-->

    <!-- 橫幅圖片 -->
    <!-- 活動左方分類欄 -->
    <div class="left_box hight2">
        <h1>Top 10 Event</h1>
        <% Event.all.order('count DESC').take(10).each do |event| %>
            <%= event.title %>
            <p style="float:right"><%= event.count %></p><br/>
        <% end %>
        
    </div>
    <div class="right_box hight2">
        <h1>Top 10 Player</h1>
        <% User.all.order('post DESC').take(10).each do |u| %>
            <%= u.name %>
            <p style="float:right"><%= u.post %></p><br/>
        <% end %>
    </div>
    <div class="container_3" >

            <%= bootstrap_flash %>
            <%= yield %>
       
    </div>
    
    </div>
    <!-- container_1 ends here -->

<div class="footer">
            <p>Copyright © 2013 Just 賭 It 集團 All Rights Reserved
            </p>
</div>

</div>

<!-- Wrap all the page -->



  </body>
</html>
